In [1]:
print("Alô Mundo!")

Alô Mundo!

In [2]:
pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\users\ead\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.0.31)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\ead\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ead\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy) (3.0.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: C:\Users\ead\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [3]:
! pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\ead\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ead\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ead\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ead\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ead\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\ead\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: C:\Users\ead\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd

In [5]:
# Módulo
from sqlalchemy import create_engine

In [6]:
! pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\users\ead\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (1.1.1)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: C:\Users\ead\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [7]:
import pymysql

In [8]:
import urllib.parse

In [9]:
# Definir as credenciais:
user = 'root'
password = urllib.parse.quote_plus('senai@123')
host = 'localhost'
database = 'schooltracker'

# Criar uma url de conexão:
connection_string = f'mysql+pymysql://{user}:{password}@{host}/{database}'

# Criar a conexão com o create_engine()
engine = create_engine(connection_string)


# Escrever uma consulta SQL
query_alunos = "SELECT * FROM aluno"

# criar o dataframe
df_alunos =pd.read_sql(query_alunos,engine)

# Mostrar os cinco primeiros
df_alunos.head()

    id        ra  nome  rendafamiliar  Tempo_de_estudo
0  103  00034547  None            NaN                0
1  104  00034548  None            NaN                0
2  105  00034550  None            NaN                0
3  106  00034551  None            NaN                0
4  107  00034552  None            NaN                0

# Quais bibliotecas um cientista de dados utiliza?

- Pandas
- NumPy
- Fundamentos de IA (Scikit- Learn)

- Material Didático
- Pandas e NumPy (Notebook)
- Scikit- Learn (Apostila do SENAI)


# Pandas: ciência de dados

# Scikit- Learn: elaboração de modelos de IA

# NumPy: matemática

05/08/2024

- Carregar dados (ok)

- Salvar um dataframe

In [10]:
csv_filename = 'alunos.csv'
df_alunos.to_csv('alunos.csv', index=False)

In [11]:
csv_filename = 'api_alunos.json'
df_alunos.to_json('alunos.json', index=False)

In [12]:
! pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.9 kB ? eta -:--:--
   ---- ---------------------------------- 30.7/250.9 kB 660.6 kB/s eta 0:00:01
   ------------------------------- -------- 194.6/250.9 kB 1.7 MB/s eta 0:00:01
   ---------------------------------------- 250.9/250.9 kB 1.9 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: C:\Users\ead\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [13]:
csv_filename = 'planilhas_alunos.xlsx'
df_alunos.to_excel(csv_filename,index=False)

# Um novo Dataframe

In [16]:
df_alunos.columns

Index(['id', 'ra', 'nome', 'rendafamiliar', 'Tempo_de_estudo'], dtype='object')

In [31]:
df_tempo_renda = df_alunos[['rendafamiliar','Tempo_de_estudo']]

# Para apresentar todos os dados = primeiro item : último item
df_tempo_renda

     rendafamiliar  Tempo_de_estudo
0              NaN                0
1              NaN                0
2              NaN                0
3              NaN                0
4              NaN                0
..             ...              ...
104        1120.90                3
105        1230.45                4
106        1370.60                5
107        1550.80                6
108         920.70                2

[109 rows x 2 columns]

# Tipos

In [29]:
print(type(df_tempo_renda))

<class 'pandas.core.frame.DataFrame'>

# Exercício: crie um recurso para mostrar apenas uma coluna. Mostre qual o tipo desse recurso.

In [32]:
serie_tempo_renda = df_tempo_renda['rendafamiliar']

In [33]:
type(serie_tempo_renda)

pandas.core.series.Series